#details{
    padding: 20px;
    color: white;
    position: relative;
}

#details a{
    color: rgb(207, 56, 56);
}

a:hover{
    color: #FF3131;
    text-decoration: underline; 
}
#gmail{
    display: flex;
    gap: 20px;
    color: rgb(207, 56, 56);

}
#gmail:hover{
    color: #FF3131;
}